<h2>Template</h2>
<h3>Text Interpolation</h3>
<p>{{name}} - {{age}} - {{sum(1,2)}}</p>
<p>{{ 1 + 1}}</p>
<p>{{ age < 1 ? "Teste" : "Teste2"}}</p>

<hr/>

<h2>Propety Binding</h2>
<!--<element [propety] ='value'></element>-->
<button [disabled] ="isDissabled"> Button</button>
<hr/>

<h2>Attribute Binding</h2>
<!--<element [attr.attribute-seu-atritubo] ='value'></element>-->
<p [attr.title]="name" [attr.aria-label]="name">oi</p>
<hr/>

<h2>Class and Style Binding</h2>
<p [class.background-red]="age >= 32" [class.background-blue]="age < 32">{{name}}</p>

<p [style.text-decoration]="isTextDecoration">{{age}}</p>
<hr/>
<h2>Event Binding</h2>
<!--<element (TargertEnventName) = 'TemplateStament' ></element>-->
<button (click) ="sumAge()">+</button>
<button (click) ="subAge()">-</button>
<input (Keydown.shift.t)="onKeyDown($event)"/>

<div (mousemove)="onMouseMove($event)" style="background: red; width: 300px; height: 300px; margin-top: 10px;"></div>
<hr/>
<h2>Two-Way Binding</h2>
<input [(ngModel)]="name"/>
{{name}}

<h3>Diretivas de atributos</h3>
<div [ngClass]="{'background-red':true}"> Classes Condicionais</div>

<div [ngStyle]="{
    color: age > 35 ? 'green' : 'red',
    'font-size': age > 35 ? '10px' : '20px'
}"> Estilos dinamico</div>